@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --Starship: #F3DC1B;
    --mineshaft:#060504;
    --husk:#9D8D14;
    --sycamore:#847414;
    --white: #fff;
    --padding: 8px;
    --margin:10px;
    --border_radius:8px;
    --transition:  1s;
    --max_width: 1400px;
}
::selection{
    background: var(--Starship);
    color: var(--mineshaft);
}
body{
    background: var(--mineshaft);
    color: var(--Starship);
    font-family: "Open Sans", sans-serif;
    line-height: 24px;
}
header{
    text-align: center;
    border-bottom: solid 1px var(--sycamore);
    margin-bottom: var(--margin);
}
section{
    padding: var(--padding);
}

a{
    color: var(--husk);
    text-decoration: none;
}

h1, h2{
    padding: var(--padding);
}

p{
    font-size: 1rem;
    margin: 0 0 var(--margin);
    color: var(--white);
}

p::first-letter{
    font-size: 1.4rem;
    color: var(--Starship);
    font-weight: 700;
}

ul{
    list-style: none;
}
ul.list > li.item{
    cursor: pointer;
}

li.item:hover  a{
    color: var(--mineshaft);
}

.container{
    max-width: var(--max_width);
    margin: 0 auto;
    padding: var(--padding);
}
.margin-bottom{
    margin-bottom: var(--margin);
}
.search{
    display: flex;
    justify-content: end;
}
.search__form{
    border: solid 1px var(--Starship);
    border-radius: var(--border_radius);
    padding: var(--padding);
    display: inline-grid;
    justify-content: end;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    gap: 4px;
    
}
.input{
    width: 100px;
    padding: var(--padding);
    outline: none;
    border-radius: var(--border_radius);
    border: none;
}
.white{
  background: var(--white);
  color: var(--mineshaft);
}
.black{
  color: var(--mineshaft);
}
.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.card{
    width: 450px;
    border: solid 1px var(--husk);
    border-radius: var(--border_radius);
    margin: 0 auto;
}
.card__header{
    padding: var(--padding);
}

.card__title{
    word-break: break-all;
}
.card__body{
    padding: var(--padding);
}
.card__img{
    width: 100%;
}
.card__paragraph{
    padding: var(--padding, 0);

}
.button{
    background: var(--Starship);
    color: var(--mineshaft);
    padding: var(--padding);
    border-radius: var(--border_radius);
    font-size: 1rem;
    font-weight: 600;
    border: solid 1px var(--Starship);
    display: inline-flex;
    align-items: center;
    transition: var(--transition);
}
.button--outline{
    background: var(--mineshaft);
    color: var(--Starship);
}
.button:hover{
    background: var(--mineshaft);
    color: var(--Starship);
}
.button--outline:hover{
    background: var(--Starship);
    color: var(--mineshaft);
}
.button__tex{

}
.button__icon{
    font-size: 1.4rem;
}
.list{
    text-align: center;
    padding: var(--padding);
}
.item{
    border-bottom: solid 1px var(--husk);
    padding: var(--padding);
    transition: var(--transition);
    font-size: 1.2rem;
}
.item:hover{
    background: var(--sycamore);
    color: var(--mineshaft);
}
ul.list>li.item a:visited{
    color: var(--Starship);
}
.item:last-child{
    border: none;
}